<div style="background-color: aquamarine; padding: 20px;">
    <div>
        <h4 style="padding: 10px;">
            <b>Thank you so much for taking the time</b><br>
            <span style="font-size: smaller;">Please provide the below details!</span>
            <br>
    
        </h4>
    </div>
    <form style="padding: 10px;">
        <div class="form-group" style="width: 50%;">
            <label for="formGroupExampleInput" style="font-size: small; margin-bottom: 5px;">First Name:</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="John">
        </div>
        <div class="form-group" style="width: 50%;">
            <label for="formGroupExampleInput2" style="font-size: small; margin-bottom: 5px;">Last Name:</label>
            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Doe">
        </div>
        <div class="form-group" style="width: 80%;">
            <label for="exampleFormControlTextarea1" style="font-size: small; margin-bottom: 5px;">Address</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <div class="form-group" style="width: 50%;">
            <label for="inputState" style="font-size: small; margin-bottom: 5px;">Country</label>
            <select id="inputState" class="form-control">
                <option selected>India</option>
                <option>Japan</option>
                <option>Australia</option>
                <option>Brazil</option>
                <option>And many others.</option>
            </select>
        </div>
        <div class="form-group" style="width: 50%;">
            <label for="formGroupExampleInput" style="font-size: small; margin-bottom: 5px;">Email Id:</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="example@sample.com">
        </div>
        <div class="form-group" style="width: 50%;">
            <label for="formGroupExampleInput" style="font-size: small; margin-bottom: 5px;">Example label</label>
            <div class="row">
                <div class="col-md-3">
                    <input type="text" class="form-control" placeholder="+91">
                </div>
                <div class="col-md">
                    <input type="text" class="form-control" placeholder="123456789">
                </div>
            </div>
        </div>
        <div class="btn-group pt-3" >
            <button type="submit" class="btn btn-danger"  mat-dialog-close>&times; Cancel</button>
            <button type="submit" class="btn btn-success">Submit Feedback</button>
        </div>
    </form>
</div>